* {
    margin: 0;
    padding: 0;
  }
  .flex-container {
    border: 6px solid red;
    display: flex;
    height: 400px;
    /* flex-direction: row; */
    /* flex-direction: row-reverse; */
    /* flex-direction: column; */
    /* flex-direction: column-reverse; */
    /* flex-wrap: nowrap; */
    /* flex-wrap: wrap; */
    /* flex-flow: row nowrap; */
    /* flex-flow: row wrap; */
    /* flex-flow: row-reverse wrap;*/
    /* flex-flow: column wrap;  */
    /* flex-flow: column-reverse wrap; */
    /* flex-flow: column-reverse wrap-reverse; */
    /* justify-content: flex-start; */
    /* justify-content: flex-end; */
    /* justify-content: center; */
    /* justify-content: space-around; */
    /* justify-content: space-evenly; */
    /* justify-content: space-between; */
    /* align-items: stretch; */
    /* align-items: flex-start; */
    /* align-items: flex-end; */
    /* align-items: center; */
    /* align-items: baseline; */
    /* align-content: stretch; */
    /* align-content: flex-start; */
    /* align-content: flex-end; */
    /* align-content: center; */
    /* align-content: space-around; */
    /* align-content: space-between; */
  }
  .items {
    background-color: blue;
    color: white;
    width:100px;
    font-size: 30px;
    padding: 5px;
    margin: 3px;
    text-align: center;
    /* vertical-align: middle; */
  }
  .item1 {
    /* width: 50px;
      height: 50px; */
    /* font-size: 70px; */
    /* order: 1; */
    /* padding-top: 180px; */
  }
  .item2 {
    /* width: 10%;
      height: 15%; */
      /* order: */
  }
  .item3 {
      /* font-size: 100px; */
      /* order: 4; */
      flex-grow: 0;
  }
  .item4 {
      /* order: -1; */
      flex-grow: 0/
      ;
  }