/* Bu Dosya style dosyasıdır*/
body {
    font-family: Arial, Helvetica, sans-serif;
}

ul {
    list-style-type: symbols(-);
}

#para1 {
    border: 5px solid red;
    padding: 10px;

}

.h2tags {
    font-size: 56px;
}