/* Serif harflerdeki cikintilara deniyormus. */
#fonts1{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
#fonts2{
    font-family: 'Courier New', Courier, monospace;
}
#fonts3{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
