/* #p1 {
    border: 5px solid red;
    margin-top: 50px;
    margin-right: 50px;
    margin-bottom: 70px;
    margin-left: 70px;
    /* margin: 75px; */
    /* width: 40%;
    margin: auto;
    color: rosybrown */
} 


/* margin 50px 70px */
 */

 body {
     background-color: #f3f3f3;
 }
 .demo-box {
     background-color: white;
     width: 80%;
     margin: 100px auto;
 }

 .one {
     background-color: rgb(255,0,0);
     height: 50px;
     /* margin-bottom: 200px; */
     margin-top:300px;
 }
 .two{
     background-color: #00ff00;
     height: 50px;
     /* margin-top:100px; */
 }

 .three{
    background-color: #0000ff;
    height: 50px;
}
/* https://www.w3.org/TR/CSS21/visudet.html#inline-replaced-height */
/* If 'margin-top', or 'margin-bottom' are 'auto', their used value is 0. */