table, th, td {
    border: 1px solid #000000;
}
table {
    border-collapse: collapse;
    width: 80%;
}
th {
    height: 30px;
    text-align: left;
    vertical-align: top;
    padding: 15px;
    background-color: darkgrey;
}
caption {
    caption-side: bottom;
   text-align: left; 
}
td {
    text-align: center;
    padding: 15px;
    /* background-color: darkorange; */
}
tr:hover {
    background-color: cornflowerblue;
}
tr:nth-child(even) {
    background-color: red;
}