* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-image: url("./images/wp4394774-fibonacci-wallpapers.jpg");
    color: white;
    text-align: center;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

h1 {
    margin: 5vh;
    text-shadow: 3px 3px 3px rgb(156, 170, 167); 
    font-size: 3rem;
}

#index, #find { */
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    padding: 1.7vh;
    border-radius: 5px;
    border: 3px solid lightgray;
    outline: none;
    font-weight: bold;
    margin-bottom: 3vh;
    background-color: #FCFCFE;
    color: black;
}

#index:hover, #find:hover {
    background-color: rgb(26, 82, 63);
    color: white;
    box-shadow: 10px 21px 51px 4px rgb(139, 73, 112);
}

#index {
    margin-right: 1vh;
}

p {
    margin-bottom:3vh;
    color: white;
    font-size: 1.5rem;
    font-weight: bold;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

span {
    color: rgb(26, 82, 63);
    text-shadow: 10px 21px 51px 4px lightgray;
}

iframe {
    margin: 1.5vh;
}